language: cpp
os: linux
compiler: gcc

addons:
    apt:
        packages: 
            - libboost-all-dev
            - lcov
            - cppcheck

before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq
    - sudo pip install codecov
  
script:
    - ./configure
    - cd ./build
    - cmake --build .
    - ctest --output-on-failure
    - ../.ci/travis-cppcheck ../.ci/suppressions.list

after_success:
    - codecov